<html>
<head>
<title>The Composer</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="keywords" content="Geert Schoonbeek, Klankdichter, Componist, Musicus, Pelgrim"/>
<meta name="description"/>
<link href="default.css" rel="stylesheet" type="text/css"/>
<style type="text/css">
body {
  scrollbar-base-color:#e1a40d;
  scrollbar-3dlight-color:#333333;
  scrollbar-arrow-color:#333333;
  scrollbar-darkshadow-color:#333333;
  scrollbar-face-color:#e1a40d;
  scrollbar-highlight-color:#333333;
  scrollbar-shadow-color:#333333;
  scrollbar-track-color:#555555;
}
</style>
<script language="JavaScript" type="text/javascript">
<!--
function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}

 var playing = true;

		function playSnd() {
		  if (playing == false) {
			document.embeds['pagSnd'].play();
			playing = true;
		  }
		  else {
			document.embeds['pagSnd'].stop();
			playing = false;
		  }
		  setSndBut();
		}
 var soundButOver = false;

		function setSndBut()
		{
			if (playing == true && soundButOver == true)
			{
				document.getElementById('sndImg').src = 'images/sound_componist.gif';
			} else if (playing == true)
			{
				document.getElementById('sndImg').src = 'images/sound_333333.gif';
			} else if (playing == false && soundButOver == true)
			{
				document.getElementById('sndImg').src = 'images/sound_componist_uit.gif';
			} else
			{
				document.getElementById('sndImg').src = 'images/sound_333333_uit.gif';
			};
		}
//-->
</script>
</head>

<body bgcolor="#e1a40d" text="#333333" link="#101010" alink="#101010" vlink="#101010">

<div style="position:absolute; left:600px;">
<table align="right" border=0>
<tr><td width="600"></td><td>
		<img border="0" src="images/button_en_scores_componist.gif" onclick="MM_openBrWindow('partituren_en.html','','width=750,height=380,scrollbars=yes,resizable=yes');" onmouseover="this.src='images/button_en_scores_componist_over.gif';" onmouseout="this.src='images/button_en_scores_componist.gif';" style="cursor:hand;">
		<img src="images/transp.gif" width=21>
	<a href="center.html" target="centerFrame"><img src="images/button_componist_x.gif" onmouseover="this.src='images/button_componist_x_over.gif';" onmouseout="this.src='images/button_componist_x.gif';" width="21" height="19" border="0" alt="close frame"></a><br>
	<img border="0" src="images/button_en_indevelopment_componist.gif" onclick="MM_openBrWindow('componist_werkinontwikkeling_en.html','','width=400,height=450,scrollbars=yes,resizable=yes');" onmouseover="this.src='images/button_en_indevelopment_componist_over.gif';" onmouseout="this.src='images/button_en_indevelopment_componist.gif';" style="cursor:hand;"><br>
	<img border="0" src="images/button_en_inprogress_componist.gif" onclick="MM_openBrWindow('componist_werkinuitvoering_en.html','','width=400,height=450,scrollbars=yes,resizable=yes');" onmouseover="this.src='images/button_en_inprogress_componist_over.gif';" onmouseout="this.src='images/button_en_inprogress_componist.gif';" style="cursor:hand;">
	</td><td width=20></td></tr>
	</table>
</div>

<table cellspacing="0" cellpadding="0" width="100%" border="0">
  <tr>
	<td align="right" valign="top" height="25">

	</td>
  </tr>
  <tr>
	<td align="center">
<table cellspacing="1" cellpadding="0" border="0" width="650">
 <tr align="left" valign="top">
<br><br>


{{% content %}}

<tr align="left" valign="top">
	<td valign="bottom" width=35><b></b></td>
	<td>
<p><B>World premère 'The Bailleul Belfort ~ April 14th - July 31st'</b></a>
</B></p>
	</td></tr>
	<tr><td></td><td>
		<p>November 1st 7.00 p.m. by Wim Ruitenbeek - carillon of the St. Maartenskerk in Tiel</p><br>
	</td></tr>

<tr align="left" valign="top">
	<td valign="bottom" width=35><b></b></td>
	<td>
<p><B>The Bailleul Belfry ~ April 15 - July 31 1918 for carillon</b></a>
</B></p>
	</td></tr>
	<tr><td></td><td>
		<p>composed as part of the 100th Anniversary of the Dutch Carillon Association<br>
finished May 23rd published by <A href="https://webshop.donemus.nl/action/front/composer/Schoonbeek+de+Vlaming%2C+Geert" target="_blank"><b>Donemus</b></a></p><br>
	</td></tr>

<tr align="left" valign="top">
	<td valign="bottom" width=35><b></b></td>
	<td>
<p><B>Reprise Molpe- syrène variations</b></a>
</B></p>
	</td></tr>
	<tr><td></td><td>
		<p>Februari 25th 3.30 p.m., by the <a href="http://ebonitquartet.com" target="_blank"><b>Ebonit Saxophone Quartet</b></a>
<a href="http://www.dekroonconcerten.nl" target="_blank"><b>Kroonconcerten</b></a> in the Hippolytuskerk in Hippolytushoef</p><br>
	</td></tr>



<tr align="left" valign="top">
	<td valign="bottom" width=35><b>2017</b></td>
	<td>
<p><B>Reprise IV Old Dutch Christmas Carols for carillon</b></a>
</B></p>
	</td></tr>
	<tr><td></td><td>
		<p>by <a href="http://riendonkersloot.nl" target="_blank"><b>Rien Donkersloot</b></a>:<br>
December 16th City Hall Tower in Ridderkerk<br>
December 18th  St. Bavotoren in Haarlem<br>
December 19th Tower Maria Magdelena church  in Goes <br>
by <a href="http://www.gijsbertkok.nl" target="_blank"><b>Gijsbert Kok</b></a>:<br>
December 17th Grote Church in The Hague<br>
December 28th Grote Church in The Hague </p><br>
	</td></tr>

<tr align="left" valign="top">
	<td valign="bottom" width=35><b></b></td>
	<td>
<p><B>Première Molpe - syrène variations'</b></a>
</B></p>
	</td></tr>
	<tr><td></td><td>
		<p>August 15th 8.30 p.m. , by the <a href="http://ebonitquartet.com" target="_blank"><b>Ebonit Saxophone Quartet</b></a><br><a href="https://www.lindegrachtconcert.nl" target="_blank"><b>Lindengrachtconcerts</b></a> in Alkmaar</p><br>
	</td></tr>

<tr align="left" valign="top">
	<td valign="bottom" width=35><b>2016</b></td>
	<td>
<p><B>Reprise 'IV 'Old Dutch Christmas Carols'</b></a>
</B></p>
	</td></tr>
	<tr><td></td><td>
		<p>December 29th by <a href="http://www.gijsbertkok.nl" target="_blank"><b>Gijsbert Kok</b></a><br>12.30 p.m. on the carillon of the <a href="http://www.stichtingcarillondenhaag.nl/grote-kerk-carillon/" target="_blank"><b>Grote Kerk</b></a> te Den Haag</p><br>
	</td></tr>

<tr align="left" valign="top">
	<td valign="bottom" width=35><b></b></td>
	<td>
<p><B>'Missa Brevis' for mixed choir (SATB)</b></a>
</B></p>
	</td></tr>
	<tr><td></td><td>
		<p>finished June 16th, is published by <A href="http://https://webshop.donemus.nl/action/front/composer/Schoonbeek+de+Vlaming%2C+Geert" target="_blank"><b>Donemus</b></a></p><br>
	</td></tr>

<tr align="left" valign="top">
	<td valign="bottom" width=35><b></b></td>
	<td>
<p><B>'Alleluija' for mixed choir (SATB)</b></a>
</B></p>
	</td></tr>
	<tr><td></td><td>
		<p>finished April 18th</p><br>
	</td></tr>

<tr align="left" valign="top">
	<td valign="bottom" width=35><b></b></td>
	<td>
<p><B>'Agnus Dei' for mixed choir (SATB)</b></a>
</B></p>
	</td></tr>
	<tr><td></td><td>
		<p>finished March 7th</p><br>
	</td></tr>

<tr align="left" valign="top">
	<td valign="bottom" width=35><b></b></td>
	<td>
<p><B>Première and reprise 'Credo'</b></a>
</B></p>
	</td></tr>
	<tr><td></td><td>
		<p>February 21st by the Fries Masdigaalkoor conducted by Dirk Dekker<br>1.00 p.m. Doopgezinde kerk in Workum<br>4.00 p.m. Victoriustsjerke in Pingjum</p><br>
	</td></tr>

<tr align="left" valign="top">
	<td valign="bottom" width=35><b></b></td>
	<td>
<p><B>'Sanctus' for mixed choir (SATB)</b></a>
</B></p>
	</td></tr>
	<tr><td></td><td>
		<p>finished January 21st</p><br>
	</td></tr>

<tr align="left" valign="top">
	<td valign="bottom" width=35><b>2015</b></td>
	<td>
<p><B>Reprise 'IV Old Dutch Christmas Carols'</b></a>
</B></p>
	</td></tr>
	<tr><td></td><td>
		<p>December 24th by Mathieu Polak<br>8.00 p.m. on the carillon of the O.L.V. tower in Amersfoort</p><br>
	</td></tr>


<tr align="left" valign="top">
	<td valign="bottom" width=35><b></b></td>
	<td>
<p><B>'Credo' for mixed choir (SATB)</b></a>
</B></p>
	</td></tr>
	<tr><td></td><td>
		<p>finished October 5th</p><br>
	</td></tr>

<tr align="left" valign="top">
	<td valign="bottom" width=35><b></b></td>
	<td>
<p><B>'Passacaglia'</b></a>
</B></p>
	</td></tr>
	<tr><td></td><td>
		<p>May 9th till 31th to see on the members exposition 'Hanging you certainly do'<br>
		in <a href="http://www.arti.nl" target="_blank">Arti et Amicitae</a> in Amsterdam</p><br>
	</td></tr>

<tr align="left" valign="top">
	<td valign="bottom" width=35><b></b></td>
	<td>
<p><B>'Molpe - syrène variations'</b></a>
</B></p>
	</td></tr>
	<tr><td></td><td>
		<p>for saxophone quartet<br>finished April 7th</p><br>
	</td></tr>

<tr align="left" valign="top">
	<td valign="bottom" width=35><b></b></td>
	<td>
<p><B>Reprises 'Der Narr Epilogiert'</b></a>
</B></p>
	</td></tr>
	<tr><td></td><td>
		<p>by <a href="http://www.cjstoppelenburg.nl" target="_blank">Charlotte</a> and Wim Stopppeleburg 
<br>April 2nd 7.15 p.m. <a href="http://www.vgnu.nl/page/www-vgnu-nl" target="_blank">VGNU</a> in Utrecht
<br>April 18th 8.15 p.m. in  <a href="http://www.dezael.nl" target="_blank">The Zael</a> in Meppel</p><br>
	</td></tr>

<tr align="left" valign="top">
	<td valign="bottom" width=35><b>2014</b></td>
	<td>
<p><B>Reprise 'IV Old Dutch Christmas Carols'</b></a>
</B></p>
	</td></tr>
	<tr><td></td><td>
		<p>December 16 th by <a href="http://www.paulmaassen.com" target="_blank">Paul Maassen</a>
		<br>11.00 a.m. on the carillon of the <a href="http://www.grotekerkbreda.nl/algemeen_beiaard.php" target="_blank">Grote Kerk</a> in Breda</p><br>
	</td></tr>

<tr align="left" valign="top">
	<td valign="bottom" width=35><b></b></td>
	<td>
<p><B>Worldpremière 'Der Narr Epilogiert'</a>
</B></p>
	</td></tr>
	<tr><td></td><td>
		<p>November 28th 8.00 p.m., <a href="https://charlottestoppelenburg.com" target="_blank"><b>Charlotte Stoppelenburg</b></a> - alto and <a href="http://www.pianoduoblaak.nl" target="_blank"><b>Martijn & Stefan Blaak</b></a> - piano fourhands<br>in the Muziekstroom in Dordrecht</p><br>
	</td></tr>

<tr align="left" valign="top">
	<td valign="bottom" width=35><b></b></td>
	<td>
<p><B>Reprises 'The Ten Prayers' and 'The Trumpet'</a>
</B></p>
	</td></tr>
	<tr><td></td><td>
		<p>by the <a href="http://www.syrenesaxofoonkwartet.nl" target="_blank"><b>Syrène Saxophone Quartet</b></a><br>
		November 15th 8.00 p.m <a href="http://www.muziekkringenkhuizen.nl" target="_blank"><b>Nutszaal</b></a> in Enkhuizen<br>
		November 23rd 3.30 p.m <a href="http://www.dekroonconcerten.nl" target="_blank"><b>Hippolytuskerk</b></a> in Hippolytushoef
		</p><br>
	</td></tr>

<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>Worldpremière 'Haan' in the version for cello and piano
</B></p>
	</td></tr>
	<tr><td></td><td>
		<p>October 18th 8.30 p.m, by <a href="http://www.larissagroeneveld.com" target="_blank"><b>Larissa Groeneveld</b></a> - cello and Frank van de Laar - piano<br>in the Ruïnekerk in Bergen (NH)</p><br>
	</td></tr>

<tr align="left" valign="top">
	<td valign="bottom" width=35><b></b></td>
	<td>
<p><B>Performance String Trio no.1 'Everything allright? ... and the twilight zone of a conversation!" (2003)</a>
</B></p>
	</td></tr>
	<tr><td></td><td>
		<p>On the 2nd of June 2014 by the <a href="http://www.prismatrio.nl" target="_blank"><b>Prisma String Trio</b></a><br>8.30 p.m. in <a href="https://www.splendoramsterdam.com" target="_blank"><b>Splendor</b></a>, Nieuwe Uilenburgerstraat 116 in Amsterdam.</p><br>
	</td></tr>

<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>Première 'Kyrië'</b></a>
</B></p>
	</td></tr>
	<tr><td></td><td>
		<p>May 25th, by The Fries Madrigaal Choir conducted by Dirk Dekker<br>
		11.15 a.m. in the Thomaskerk, Katlijk<br>
		3.15 p.m. in theVictoriuskerk, Pingjum
		</p><br>
	</td></tr>

<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>Participation in New Members Exhibition of <a href="http://www.arti.nl/" target="_blank"><b>Arti et Amicitiae</b></a>
</B></p>
	</td></tr>
	<tr><td></td><td>
		<p>January 18th until February 8th, Rokin 112 in Amsterdam with the extraordinary score of 	L'Entrada Palau Güell (2010)</p><br>
	</td></tr>

<tr align="left" valign="top">
	<td valign="bottom" width=35><b>2013</b></td>
	<td>
<p><B>Première 'IV Old Dutch Christmas Carols'
</B></p>
	</td></tr>
	<tr><td></td><td>
		<p>December 23th 12.00 a.m. - 1.00 p.m. by <a href="http://www.gijsbertkok.nl" target="_blank"><b>Gijsbert Kok</b></a> - carillon <a href="http://www.grotekerkdenhaag.nl/index.cfm/grote-kerk-den-haag/grote-kerk/carillon" target="_blank"><b>Grote Kerk</b></a> in The Hague</p><br>
	</td></tr>

<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>Reprise 'The Righteous'
</B></p>
	</td></tr>
	<tr><td></td><td>
		<p>December 12th 5.30 p.m. by <a href="http://www.eleonorepameijer.nl" target="_blank"><b>Eleonore Pameijer</b></a> - (bas)fluit and <a href="http://www.stephanheber.com/en-GB/home.aspx" target="_blank"><B>Stephan Heber</B></a> - cello<br>
in the Headquarters of the Amsterdam Police force, Lijnbaansgracht in Amsterdam.In rememberance of Pieter Jacobus Elias and Arend Japin, two Amsterdam policeman who saved many lives during Worldwar II</p><br>
	</td></tr>

<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>'1914 - Dulce et Decorum est - 2018'
</B></p>
	</td></tr>
	<tr><td></td><td>

		<p>a triptych for tenor, string orchestra and percussion with in between the ensemble pieces 'La Demarcation' and 'No Man's Land'<br>fineshed the 11th of October</p><br>
	</td></tr>

<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>'Gloria' for mixed choir (SATB)
</B></p>
	</td></tr>
	<tr><td></td><td>

		<p>fineshed the 28th of August</p><br>
	</td></tr>



<tr align="left" valign="top">
	<td valign="bottom" width=35><b></b></td>
	<td>
<p><B>'Kyrie' for mixed choir (SATB)
</B></p>
	</td></tr>
	<tr><td></td><td>

		<p>fineshed the 17th of June</p><br>
	</td></tr>


<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>Première 'De Bazuin' [The Trumpet]
</B></p>
	</td></tr>
	<tr><td></td><td>

		<p>May 24th 8.30 p.m. by <a href="https://femkeijlstra.nl" target="_blank"><b>Femke IJlstra</b></a> - soprano  
		saxophone and <a href="http://www.evavangrinsven.nl" target="_blank"><b>Eva van Grinsven</b></a> - bariton saxophone in the Bethaniënklooster in Amsterdam.<br>
		This piece was especially written for: Femke IJlstra for the collection <a href="http://www.afuk.nl" target="_blank"><b>Vacuum-cleaner-singers</b></a> together with the poet <a href="http://www.tseadbruinja.nl/" target="_blank"><b>Tsead Bruinja</b></a> and the artist <a href="http://www.mirkafarabegoli.com" target="_blank"><b>Mirka Farabegoli</b></a></p><br>
	</td></tr>



<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>'Der Narr epilogiert' [The Fool narrates] for alto and piano four hands
</B></p>
	</td></tr>
	<tr><td></td><td>

		<p>text: poem with the same title by Johann Wolfgang von Goethe from 1817
especially written for the alto <a href="http://www.cjstoppelenburg.nl" target="_blank"><b>Charlotte Stoppelenburg</b></a> and the <a href="http://www.pianoduoblaak.nl" target="_blank"><b>Duo Blaak</b></a><br>
		finished the 11th of May</p><br>
	</td></tr>

<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>Reprise String Quartet no.1 'Paradisum'
</B></p>
	</td></tr>
	<tr><td></td><td>

		<p>March 24th 3.30 p.m. by the <a href ="http://www.weidlerkwartet.nl" target="_blank"><b>Weidler Kwartet</b></a><br>
		in the <a href="http://www.dekroonconcerten.nl/" target="_blank"><B>Hippolytuskerk </b></a> in Hippolytushoef</p><br>
	</td></tr>

<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>'No Man's Land' for violin, contrabass and timpani
</B></p>
	</td></tr>
	<tr><td></td><td>

		<p>This piece forms a part of the greater composition 'Dulce et Decorum  
		est 1914 -2018' about the Great War and is especially written in  
		collaboration with the violin player <a href="http://www.bobvanderent.nl" target="_blank"><b>Bob van der Ent</b></a>. The composition can be also performed as a solo piece.<br>
		finished the 13th of March</p><br>
	</td></tr>

<tr align="left" valign="top">
	<td valign="bottom" width=35><b>2012 </b></td>
	<td>
<p><B>Première 'The Century Resonates Now'
</B></p>
	</td></tr>
	<tr><td></td><td>

		<p>a film by <a href ="http://www.stichting.com/COM/De_Eeuw_Klinkt_Nu.html" target="_blank"><b>Bianca Holts & Hero Wouters</b></a> about how music got electrified with fragments of my string quartet no.1 'Paradisum'<br>
		October 11nd 1.00 -5.00 p.m. in the Verkadefabriek film room 5 during the <a href="http://www.novembermusic.net/default.asp?pageID=131" target="_blank"><B>November Music</b></a> festival in 's-Hertogenbosch
		</p><br>
	</td></tr>


<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>Reprise documentory 'Storms in the new land'
</B></p>
	</td></tr>
	<tr><td></td><td>

		<p>during the <a href="https://www.filmfestival.nl" target="_blank"><b>Nederlands Film Festival</b></a><br>
Oktober 3rd 10.15.p.m. Wolff City 3 in Utrecht<br>
Oktober 4th   7.45 p.m. Louis Hartlooper Complex in Utrecht<br>
		</p><br>
	</td></tr>



<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>Reprises 'Wad in Blaaeuwes'
</B></p>
	</td></tr>
	<tr><td></td><td>

		<p>

		during the <b>Neckar Musikfestival</b> in the serie 'Die andere Modernen' by <a href="http://www.martin-muench.de/" target="_blank"><b>Martin Münch</b></a><br>
		September 23rd 5.00 p.m. <B>Galery Melnikow</b> in Heidelberg, Duitsland.<br>
		September 24th 8.00 p.m. <a href="http://www.mannheim.de/bildung-staerken/musikschule" target="_blank"><b>Städtische Musikschulle</b></a> in Mannheim, Duitsland

		</p><br>
	</td></tr>






<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>Première 'Storms in the new land'
</B></p>
	</td></tr>
	<tr><td></td><td>

		<p>a long documentary by <a href="http://www.franjo.nl/start2eng.htm" target="_blank"><b>Studio Franjo</a></b>, about the users of the library bus in the
Noordoostpolder, <a href="http://www.ramonlormans.nl/" target="_blank"><b>Ramon Lormans</a></b> - marimba<br>
May 12th in the <a href="http://www.bioscoop-emmeloord.nl/" target="_blank"><b>Movieskoop Cinemas</b></a> in Emmeloord starts 4.00 p.m.<br>
reprises: May 14, 15, 21, 22th 6.30 p.m. May 19th 4.00 p.m.<br>
May 28th the whole day on <a href="http://www.omroepflevoland.nl" target="_blank"><b>Omroep Flevoland</b></a>
		</p><br>
	</td></tr>







<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>Reprises of 'The Righteous'
</B></p>
	</td></tr>
	<tr><td></td><td>

		<p>April 23th by <a href="http://www.eleonorepameijer.com/" target="_blank"><b>Eleonore Pameijer</b></a> -[bass]flute and <a href="http://www.stephanheber.com/"  target="_blank"><b>Stephan Heber</b></a> - cello in school concerts on the <a href="http://www.gerritvdveen.nl" target="_blank"><b>Gerrit van der Veen College</b></a> in Amsterdam
		</p><br>
	</td></tr>



<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>Late Light 'a divorce' for marimba solo <img onmouseover="this.style.cursor='hand';" onclick="MM_openBrWindow('partituren_en.html','','width=750,height=380,scrollbars=yes,resizable=no');" class="textimg" src="images/part-icoon.gif" width="20" height="20" border="0" vspace="0" hspace="4" alt="Scores">
</B></p>
	</td></tr>
	<tr><td></td><td>

		<p>finished the 22th of March
		</p><br>
	</td></tr>


<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>Worldpremière 'The Righteous'
</B></p>
	</td></tr>
	<tr><td></td><td>

		<p>January 16 th 8.15 p.m. by <a href="http://www.eleonorepameijer.com/" target="_blank"><b>Eleonore Pameijer</b></a>  - [bass]flute and <a href="http://www.stephanheber.com/"  target="_blank"><b>Stephan Heber</b></a> - cello <br>in the <a href="http://www.leosmit.nl/uilenburgerconcerten.php" target="_blank"><B>Uilenburger concert series</b></a>in the <a href="http://www.bethanienklooster.nl/" target="_blank"><b>Bethaniënklooster</b></a> in Amsterdam<br>
		</p><br>
	</td></tr>


<tr align="left" valign="top">
	<td valign="bottom" width=35><b>2011 </b></td>
	<td>
<p><B>IV Old Dutch Christmas Carols for carillon <img onmouseover="this.style.cursor='hand';" onclick="MM_openBrWindow('partituren_en.html','','width=750,height=380,scrollbars=yes,resizable=no');" class="textimg" src="images/part-icoon.gif" width="20" height="20" border="0" vspace="0" hspace="4" alt="Scores">
</B></p>
	</td></tr>
	<tr><td></td><td>

		<p>after Albert de Klerk<br>
finished the 29th of November, is published by <A href="https://webshop.donemus.nl/action/front/composer/Schoonbeek+de+Vlaming%2C+Geert" target="_blank"><b>Donemus</b></a>
		</p><br>
	</td></tr>


<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>Reprise 'Wad in Blaaeuwes'
</B></p>
	</td></tr>
	<tr><td></td><td>

		<p>November 27 th 3.30 p.m. by  <A href="http://www.martin-muench.de/" target="_blank"><b>Martin Münch </b></a> in the <a href="http://www.dekroonconcerten.nl/" target="_blank"><B>Hippolytuskerk </b></a>in Hippolytushoef
		</p><br>
	</td></tr>


<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>Reprise 'Luke 23:46a' for carillon
</B></p>
	</td></tr>
	<tr><td></td><td>

		<p>November 26th 2.15 p.m. by Bauke Reitsma on the OLV -toren in Amersfoort
		</p><br>
	</td></tr>

<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>'De Bazuin'[The Trumpet] for soprano- and bariton-saxophone <img onmouseover="this.style.cursor='hand';" onclick="MM_openBrWindow('partituren_en.html','','width=750,height=380,scrollbars=yes,resizable=no');" class="textimg" src="images/part-icoon.gif" width="20" height="20" border="0" vspace="0" hspace="4" alt="Scores">
</B></p>
	</td></tr>
	<tr><td></td><td>

		<p>especially written for: <a href="https://femkeijlstra.nl" target="_blank"><B>Femke IJlstra</B></a> for the collection <a href="http://www.afuk.nl" target="_blank"><b>Vacuum-cleaner-singers</b></a> together <br>with the poet <a href="http://www.tseadbruinja.nl/" target="_blank"><b>Tsead Bruinja</b></a> and the artist <a href="http://www.mirkafarabegoli.com" target="_blank"><b>Mirka Farabegoli</b></a><br>
		finished the 11th of November
		</p><br>
	</td></tr>


<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>Performances 'Hymn'
</B></p>
	</td></tr>
	<tr><td></td><td>

		<p>27, 28 and 30th of October by <B>It Nije Ensemble</B>:<br> Siemen Hoekstra - trumpet, Friso Valkema - trumpet, Sjoerd van der Veen - horn, <br>Piet Durk Meyer - trombone and Jacob Korf - tuba <br> in the Noorderkerk - Sneek, KCB - Bergen (NH) and De Lawei - Drachten. </p><br>
	</td></tr>





<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>Performances 'La Démarcation
</B></p>
	</td></tr>
	<tr><td></td><td>

		<p>The 22, 23, 27, 28 and 30th of October by <B>It Nije Ensemble</B>:<br> Bernard van den Boogaard - piano, Hans Rijkmans - violin, Sanne Jonker - viola, <br>Maarten Jansen - cello, Tim Wintersohl - flute and Annette Schenk - bass clarinet <br>in De Spylder - Warns, Hippolytuskerk - Hippolytushoef, Noorderkerk - Sneek, <br>KCB - Bergen (NH) en De Lawei - Drachten. </p><br>
	</td></tr>


<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>Reprise 'De Warme Winter Warreling' [The Warm Winter Whirling]
</B></p>
	</td></tr>
	<tr><td></td><td>


		<p>by the   <a href="http://english.berlagesaxophonequartet.com" target="_blank"><b>Berlage Saxophone Quartet</b></a><Br>
The 24th of September 8.00 p.m. in the <a href="http://www.dekroonconcerten.nl/" target="_blank"><b>Hippolytuskerk</b></a> in Hippolytushoef<br>
The &nbsp;&nbsp;6th of November 3.30 p.m. during the <a href="http://www.kamermuziekfestivalhoorn.nl/" target="_blank"><B>Chambermusic Festival Hoorn</b></a><br>
			The 26th of November 8.00 p.m. in <b>Fluxes </b>in Zaandam <br></p><br>

	</td></tr>

<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>Reprise 'Wad in Blaauewes' </b>
</B></p>
	</td></tr>
	<tr><td></td><td>

		<p>The 16th of September 10.00 p.m by <a href="http://www.marcelworms.com/programs/toelichting-en1-blues.html" target="_blank"><b>Marcel Worms</b></a> - piano during the <a href="http://www.leosmit.nl/leosmitfoundation.php" target="_blank"><b>Dutch Chambemusic Festival</b></a> in the <a href="http://bethanienklooster.nl/english/index.html" target="_blank"><b>Bethaniënklooster</b></a> in Amsterdam<br>
		+ presentation: cd 'Made in Holland' and Bluesbook III in which 'Wad in Blaaeuwes' is included<br><br></p>
	</td></tr>



<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B><a href="http://www.geertschoonbeek.nl/images/arend_japin.pdf" target="_blank">'The Righteous' </a></b>for [bass]flute and cello <img onmouseover="this.style.cursor='hand';" onclick="MM_openBrWindow('partituren_en.html','','width=750,height=380,scrollbars=yes,resizable=no');" class="textimg" src="images/part-icoon.gif" width="20" height="20" border="0" vspace="0" hspace="4" alt="Scores">
</B></p>
	</td></tr>
	<tr><td></td><td>
<p>text prologue and epilogue: Ada de Ruiter<br>
		finished the 3th of September</p><br>
	</td></tr>


<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>Arrangement Psalm <a href="http://www.clemens500.be/data/95-score.pdf" target="_blank"><b>95</b></a> and <a href="http://www.clemens500.be/data/96-score.pdf" target="_blank"><b>96</b></a> for choir [STB]
</B></p>
	</td></tr>
	<tr><td></td><td>
<p>New <a href="http://www.clemens500.be/en/cmp/geert-schoonbeek-de-vlaming.html" target="_blank"><b>Souterliedekens</b></a> after Clemens non Papa<br>
		finished the 3th Augustus</p><br>
	</td></tr>






<tr align="left" valign="top">
	<td valign="bottom" width=35><b></b></td>
	<td>
<p><B>Reprise 'Schokland' </b>
</B></p>
	</td></tr>
	<tr><td></td><td>

		<p>Juni 5th 2.15 and 3.30 p.m. by <a href="http://www.ramonlormans.nl/"><b>Ramon Lormans</b></a> - marimba<br> during the <a href="http://www.kunstgetij.nl/" target="_blank"><b>Bergen Cantonaal</b></a> festival in Hotel 1900, Russenweg 3 in Bergen NH<br><br></p>
	</td></tr>


<tr align="left" valign="top">
	<td valign="bottom" width=35><b></b></td>
	<td>
<p><B>International Masterclass Workum </b>
</B></p>
	</td></tr>
	<tr><td></td><td>

		<p>

		1st and 2nd of April together with Alex Manassen and Dirk Dekker. In collaboration with <B>It Nije Ensemble</B> conducted by Hoite Pruiksma and mezzo-soprano <b>Jannie Pranger</b><br>
		3th of April presentation of the works of the participating composers and a try out 'La Démarcation' for piano lefthand, flute, bass-clarinet, violin, viola and cello & 'Hymns' for brass-quintet and mezzo-soprano.<br>
		<a href="http://kerkelijkekunst.workum.nl/Beschrijving" target="_blank"><b>R.K. Werenfrieduskerk,</b></a> starts: 3.00 p.m. <br>
		<a href="http://www.klameare.nl/" target="_blank"><b>De Klameare</b></a>, starts: 5.00 p.m.<br><br>

		</p>
	</td></tr>



<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>Reprise 'Wad in Blaauewes' </b>
</B></p>
	</td></tr>
	<tr><td></td><td>

		<p>March 20th 3.00 p.m. by <a href="http://www.marcelworms.com/programs/toelichting-en1-blues.html" target="_blank"><b>Marcel Worms</b></a> - piano by <b>Jazz en Classic</b> at the <a href="http://www.meerpaal.nl" target="_blank"><b>Meerpaal</b></a> in Dronten<br><br></p>
	</td></tr>



<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>'Haan'</b> in the version for cello and piano <img onmouseover="this.style.cursor='hand';" onclick="MM_openBrWindow('partituren_en.html','','width=750,height=380,scrollbars=yes,resizable=no');" class="textimg" src="images/part-icoon.gif" width="20" height="20" border="0" vspace="0" hspace="4" alt="Scores">
</p>
	</td></tr>
	<tr><td></td><td>

<p>	finished the 3th of March</p><br>
</td></tr>

<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>Worldpremière 'Schokland' </b>
</p>
	</td></tr>
	<tr><td></td><td>
<p>
The 16th of january 3.00 p.m. by <a href="http://www.ramonlormans.nl" target="_blank"><b>Ramon Lormans</b></a> - marimba in the <a href="http://www.dekroonconcerten.nl" target="_blank"><b>Hippolytuskerk</b></a> in Hippolytushoef<br><br>
</p>
</td></tr>


<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>Worldpremière 'Haan' </b>in the version for violin and piano
</p>
	</td></tr>
	<tr><td></td><td>
<p>
The 16th of january 3.00 p.m. by Ursula Schoch - violin and <a href="http://www.marcelworms.com/duowithursula.html" target="_blank"><b>Marcel Worms</b></a> - piano <br>in the <b>Theater aan het Spui</b> in The Hague
</p>
</td></tr>



<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>Reprise 'Haan' </b>
</p>
	</td></tr>
	<tr><td></td><td>
<p>
The 17th of january 8.15 p.m. in the <a href="http://www.bethanienklooster.nl/english/index.html" target="_blank"><b>Bethaniënklooster</b><a> in Amsterdam <Br>in the <a href="http://www.leosmit.nl/#boven" target="_blank"><b>Uilenburgerconcertserie</b></a>
</p><br>
</td></tr>


<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>'Schokland' for marimba solo</b> in three parts <img onmouseover="this.style.cursor='hand';" onclick="MM_openBrWindow('partituren_en.html','','width=750,height=380,scrollbars=yes,resizable=no');" class="textimg" src="images/part-icoon.gif" width="20" height="20" border="0" vspace="0" hspace="4" alt="Scores">
</p>
	</td></tr>
	<tr><td></td><td>
<p>

		named: Geschokt [Shocked], De Ontruiming[The Evacuation] and Naschok[Aftershock]<bR>
		finished the 7th of January, by publisher <a href="http://www.redfrogmusic.biz" target="_blank"><b>Red Frog Music</b></a>
</p><br>
</td></tr>



<tr align="left" valign="top">
	<td valign="bottom" width=35><b>2010 </b></td>
	<td>
<p><B>Reprise 'Wad in Blaauewes' </b>
</B></p>
	</td></tr>
	<tr><td></td><td>

		<p>November 21th 8.15 p.m. by <a href="http://www.marcelworms.com/programs/toelichting-en1-blues.html" target="_blank"><b>Marcel Worms</b></a><br>
		in the <a href="http://www.bethanienklooster.nl/english/index.html" target="_blank"><b>Bethaniënklooster</b></a> in Amsterdam<Br><br></p>
	</td></tr>





<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>'La Démarcation'</b> for piano lefthand, flute, bass-clarinet, violin. viola and cello <img onmouseover="this.style.cursor='hand';" onclick="MM_openBrWindow('partituren_en.html','','width=750,height=380,scrollbars=yes,resizable=no');" class="textimg" src="images/part-icoon.gif" width="20" height="20" border="0" vspace="0" hspace="4" alt="Scores"></a>
</B></p>
	</td></tr>
	<tr><td></td><td>

		<p>finished the 11th of November<br><br></p>
	</td></tr>


<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>String Quartet no.1 'Paradisum' - <a href="http://www.kamermuziekfestivalhoorn.nl" target="_blank"><B>'Muziek in Beweging'</b></a>
</B></p>
	</td></tr>
	<tr><td></td><td>

		<p>November 7th 2.30 p.m. the Flora quartet: <a href="http://www.birtheblom.com" target="_blank"><B>Birthe Blom</b></a> - violin, <b>Edgar Pujol</b> - violin, Joël Waterman - viola en Florian Rohn - cello en
moving theather Ti Na Ni Na Ni <br>under the direction of Ari Peterse
in the Oosterkerk, Hoorn<br><br></p>
	</td></tr>



<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>Worldpremière 'Luke 23: 46a' for carillon
</B></p>
	</td></tr>
	<tr><td></td><td>

		<p>August 26th 8.30 p.m. by <b>Jacques Maassen</b> on the carillon of the <a href="http://carillonbreda.nl/" target="_blank"><b>Grote Kerk</b></a> in Breda<br><br></p>
	</td></tr>


<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>'Luke 23:46a' for carillon <img onmouseover="this.style.cursor='hand';" onclick="MM_openBrWindow('partituren_en.html','','width=750,height=380,scrollbars=yes,resizable=no');" class="textimg" src="images/part-icoon.gif" width="20" height="20" border="0" vspace="0" hspace="4" alt="Scores">
</B></p>
	</td></tr>
	<tr><td></td><td>

		<p>published in the Geneco Carillon Album<br>
			available at the <a href="https://beiaardcentrum.com" target="_blank"><b>Beiaard Centrum Nederland</b></a><br>
			finished the 28th of April<br><br>
		</p>
	</td></tr>



<tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>Dutch première 'Wad in Blaaeuwes'
</B></p>
	</td></tr>
	<tr><td></td><td>

		<p>April 6th 8.30 p.m. by <a href="http://www.marcelworms.com/programs/toelichting1-blues.html" target="_blank"><b>Marcel Worms</b></a> in <a href="http://www.theaterkikker.nl" target="_blank"><b>Theater Kikker</b></a> in Utrecht<br><br></p>
		<P><B>Reprise 'Haan' <img onmouseover="this.style.cursor='hand';" onclick="MM_openBrWindow('partituren.html','','width=750,height=380,scrollbars=yes,resizable=no');" class="textimg" src="images/part-icoon.gif" width="20" height="20" border="0" vspace="0" hspace="4" alt="Partituren"></b></p>
		<p>March 28th 3.30 p.m. by Elisabeth Smalt - altviool and Bernd Brackman - piano in the <a href="http://www.dekroonconcerten.nl" target="_blank"><b>Hippolytuskerk</b></a> in Hippolytushoef<br><p><br>

		<i>"A special part of the program was the composition 'Haan' from 2004 by Geert Schoonbeek de Vlaming. This piece is dedicated to all children in oppression worldwide. Seven parts. Expressive themes, brilliantly worked out. Very interesting and enchanting music. Beautifully played."<Br><br>
		[ Henk Pruijsen, Wieringer Courant 02-04-10 ]</i><br><br>

<p><b>'L'Entrada Palau Güell' [extended version] for brass-septet and strings <img onmouseover="this.style.cursor='hand';" onclick="MM_openBrWindow('partituren_en.html','','width=750,height=380,scrollbars=yes,resizable=no');" class="textimg" src="images/part-icoon.gif" width="20" height="20" border="0" vspace="0" hspace="4" alt="Partituren"><br></b>
finished the 9th of March<Br>
This piece is the <a href="http://www.palauguell.cat/fitxa.php?idm=12&idsm=0&idioma=Eng" target="_blank"><b>Palau Güell</b></a> by Antoni Gaudi in music</p><br>

	</td></tr>



 <tr align="left" valign="top">
	<td valign="bottom" width=35><b>2009 </b></td>
	<td>
<p><B>Reprise 'Wad in Blaaeuwes' by <a href="http://www.marcelworms.com/programs/toelichting-en1-blues.html" target="_blank"><b>Marcel Worms</b></a> &nbsp;</B></p>
	</td></tr>
	<tr><td></td><td>

		<p>October 28th 8.00 p.m. University of Khartoum in the Alsharja Hall in Khartoum - Sudan <br></p>
		<p>October 29th 8.00 p.m. Khartoum International Community School in the Amfitheatre in Khartoum - Sudan <br><p>

	</td></tr>


 <tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>Reprise String quartet no. 1 'Paradisum'&nbsp;</B></p>
	</td></tr>
	<tr><td></td><td>

		<p>October 25th 3.30 p.m. by string quartet <a href="http://www.pavadita.com" target="_blank"><b>Pavadita</b></a> in the <a href="http://www.dekroonconcerten.nl" target="_blank"><b>Hippolytuskerk</b></a> in Hippolytushoef<br></p><br>

	</td></tr>


 <tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>Worldpremière String quartet no. 1 'Paradisum'&nbsp;<img onmouseover="this.style.cursor='hand';" onclick="MM_openBrWindow('partituren_en.html','','width=750,height=380,scrollbars=yes,resizable=no');" class="textimg" src="images/part-icoon.gif" width="20" height="20" border="0" vspace="0" hspace="4" alt="Partituren"></B></p>
	</td></tr>
	<tr><td></td><td>

		<p>July 15th 8.00 p.m. by string quartet <a href="http://www.pavadita.com" target="_blank"><b>Pavadita</b></a> in the <a href="https://vredeskerkje.nl" target="_blank"><b>Vredeskerkje</b></a> in 'Bergen aan Zee'<br></p><br>

	</td></tr>



 <tr align="left" valign="top">
	<td valign="bottom" width=35><b> </b></td>
	<td>
<p><B>'Haan'</B> in the version for violin and piano <img onmouseover="this.style.cursor='hand';" onclick="MM_openBrWindow('partituren_en.html','','width=750,height=380,scrollbars=yes,resizable=no');" class="textimg" src="images/part-icoon.gif" width="20" height="20" border="0" vspace="0" hspace="4" alt="Scores"></p>
	</td></tr>
	<tr><td></td><td>

	finished the 25th of May<br><br>

	</td></tr>


 <tr align="left" valign="top">
	<td valign="bottom"><b> </b></td>
	<td>
			<p><b>Reprise on the 25th of May</b> </p>
		</td></tr>
		<tr><td></td><td>
		'Wad in Blaaeuwes' by <a href="http://www.marcelworms.com/programs/toelichting1-blues.html" target="_blank"><b>Marcel Worms</b></a> at the Peçi Music Festival in Tirana Albania<br><br>
		</td></tr>
	</td></tr>

 <tr align="left" valign="top">
	<td valign="bottom"width=35><b> </b></td>
	<td>
			<p><b>Worldpremière on the 23th of May</b> </p>
		</td></tr>
		<tr><td></td><td>
		'Wad in Blaaeuwes' by <a href="http://www.marcelworms.com/programs/toelichting-en1-blues.html" target="_blank"><b>Marcel Worms</b></a> at the <a href="http://remusicafestival.com" target="_blank"><b>REmusica Festival</b></a> in Priština Kosovo<BR>
		Opening: 7:30 p.m.<br><br>
		</td></tr>
	</td></tr>



<tr align="left" valign="top">
	<td valign="bottom" width=35><b></b></td>
	<td>
<p><B>'Wad in Blaaeuwes' for piano solo&nbsp; <img onmouseover="this.style.cursor='hand';" onclick="MM_openBrWindow('partituren_en.html','','width=750,height=380,scrollbars=yes,resizable=no');" class="textimg" src="images/part-icoon.gif" width="20" height="20" border="0" vspace="0" hspace="4" alt="Scores"></B></p>
	</td></tr>
	<tr><td></td><td>

		<p>composed by order of the pianist <a href="http://www.marcelworms.com/programs/toelichting-en1-blues.html" target="_blank"><b>Marcel Worms</b></a> for his blues project: 'New Blues for Piano'<br>
		finished the 27th of March, is included in Bluesbook III by publisher <A href="https://webshop.donemus.nl/action/front/composer/Schoonbeek+de+Vlaming%2C+Geert" target="_blank"><b>Donemus</b></a></p><br>

	</td></tr>

 <tr align="left" valign="top">
	<td valign="bottom" width=35><b>2008 </b></td>
	<td>
			<p><B>'Hymn' adaptations of nation anthems for brass quintet (with vocals)&nbsp;<img onmouseover="this.style.cursor='hand';" onclick="MM_openBrWindow('partituren_en.html','','width=750,height=380,scrollbars=yes,resizable=no');" class="textimg" src="images/part-icoon.gif" width="20" height="20" border="0" vspace="0" hspace="4" alt="Scores"></b></p>

	</td></tr>
	<tr><td></td><td>

			Wilhelmus, Deutschlandlied, Gimn Rossijskoj Federatsii [Russian federation], God save the Queen en The Star-Sprangled Banner [dedicated to Barack Obama]<br>
			finished on the 8th of December<br><br>

		</td></tr>


 <tr align="left" valign="top">
	<td valign="bottom"><b> </b></td>
	<td>
			<p><b>‘L’Entrada Palau Güell’ for Brass-septet <img onmouseover="this.style.cursor='hand';" onclick="MM_openBrWindow('partituren_en.html','','width=750,height=380,scrollbars=yes,resizable=no');" class="textimg" src="images/part-icoon.gif" width="20" height="20" border="0" vspace="0" hspace="4" alt="Partituren"></b> </p>
		</td></tr>
		<tr><td></td><td>
			finished the 15 th of May<br>
			This piece is the <a href="http://www.palauguell.cat/fitxa.php?idm=12&idsm=0&idioma=Eng" target="_blank"><b>Palau Güell</b></a> by Antoni Gaudi in music.
		</td></tr>
	</td></tr>




  <tr align="center" valign="top">
	<td colspan="2">
	  <p>&nbsp;</p>
	  <p><b>'The Baptism'</b> </p>
	  <p>As a child of eleven years old, during a holiday in the Belgium Voerstreek, I found myself in a High mass on a Sunday morning. This at the invitation of our hosts farmer Heusche and his wife. When we
arrived at church it became clear that farmer Heusche was a member of the church choir. My father and I were allowed to accompany him to the balcony. There the man who I got to know the passed week as a solid, good-humoured, animal loving farmer, changed into a devout, crystal-clear tenor. Astonishing!!!
The seed of the composer was sown that morning in Belgium.
</p>
	</td>
  </tr>
</table></td></tr>
  <tr>
	<td align="right"><a href="center.html" target="centerFrame"><img src="images/button_componist_x.gif" onmouseover="this.src='images/button_componist_x_over.gif';" onmouseout="this.src='images/button_componist_x.gif';" width="21" height="19" border="0" alt="close frame"></a></td>
  </tr>
</table>
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-732873-4";
urchinTracker();
</script>
</body>
</html>
